In [247]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

# define the base url needed to create the file url.
base_url = r"https://www.sec.gov"

cik_number = "320193"

# convert a normal url to a document url
normal_url = r"https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/0000320193-20-000096.txt"
normal_url = normal_url.replace('0000320193-20-000096','').replace('.txt','/index.json')

# define a url that leads to a 10k document landing page
documents_url = r"https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/index.json"
print(documents_url)

# request the url and decode it.
content = requests.get(documents_url).json()

for file in content['directory']['item']:
    
    # Grab the filing summary and create a new url leading to the file so we can download it.
    if file['name'] == 'FilingSummary.xml':

        xml_summary = base_url + content['directory']['name'] + "/" + file['name']
        
        print('-' * 100)
        print('File Name: ' + file['name'])
        print('File Path: ' + xml_summary)

https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/index.json
----------------------------------------------------------------------------------------------------
File Name: FilingSummary.xml
File Path: https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/FilingSummary.xml

In [248]:
base_url = xml_summary.replace('FilingSummary.xml', '')

# print(base_url)

# request and parse the content
content = requests.get(xml_summary).content
soup = BeautifulSoup(content, 'lxml')         # Format to xml

# print(soup)
# find the 'myreports' tag because this contains all the individual reports submitted.
reports = soup.find('myreports')

# I want a list to store all the individual components of the report, so create the master list.
master_reports = []

# loop through each report in the 'myreports' tag but avoid the last one as this will cause an error.
for report in reports.find_all('report')[:-1]:

    # let's create a dictionary to store all the different parts we need.
    report_dict = {}
    report_dict['name_short'] = report.shortname.text
    report_dict['name_long'] = report.longname.text
    report_dict['position'] = report.position.text
    report_dict['category'] = report.menucategory.text
    report_dict['url'] = base_url + report.htmlfilename.text

    # append the dictionary to the master list.
    master_reports.append(report_dict)

    # print the info to the user.
    print('-'*100)
    # if (report.htmlfilename.text == "R11.htm"):
    print(base_url + report.htmlfilename.text)
    print(report.longname.text)
    print(report.shortname.text)
    print(report.menucategory.text)
    print(report.position.text)

----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R1.htm
0001001 - Document - Cover Page
Cover Page
Cover
1
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R2.htm
1001002 - Statement - CONSOLIDATED STATEMENTS OF OPERATIONS
CONSOLIDATED STATEMENTS OF OPERATIONS
Statements
2
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R3.htm
1002003 - Statement - CONSOLIDATED STATEMENTS OF COMPREHENSIVE INCOME
CONSOLIDATED STATEMENTS OF COMPREHENSIVE INCOME
Statements
3
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R4.htm
1003004 - Statement - CONSOLIDATED BALANCE SHEETS
CONSOLIDATED BALANCE SHEETS
Statements
4
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R5.htm
1004005 - Statement - CONSOLIDATED BALANCE SHEETS (Parenthetical)
CONSOLIDATED BALANCE SHEETS (Parenthetical)
Statements
5
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R6.htm
1005006 - Statement - CONSOLIDATED STATEMENTS OF SHAREHOLDERS' EQUITY
CONSOLIDATED STATEMENTS OF SHAREHOLDERS' EQUITY
Statements
6
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R7.htm
1006007 - Statement - CONSOLIDATED STATEMENTS OF CASH FLOWS
CONSOLIDATED STATEMENTS OF CASH FLOWS
Statements
7
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R8.htm
2101101 - Disclosure - Summary of Significant Accounting Policies
Summary of Significant Accounting Policies
Notes
8
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R9.htm
2106102 - Disclosure - Revenue Recognition
Revenue Recognition
Notes
9
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R10.htm
2111103 - Disclosure - Financial Instruments
Financial Instruments
Notes
10
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R11.htm
2120104 - Disclosure - Consolidated Financial Statement Details
Consolidated Financial Statement Details
Notes
11
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R12.htm
2125105 - Disclosure - Income Taxes
Income Taxes
Notes
12
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R13.htm
2132106 - Disclosure - Debt
Debt
Notes
13
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R14.htm
2138107 - Disclosure - Shareholders' Equity
Shareholders' Equity
Notes
14
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R15.htm
2142108 - Disclosure - Comprehensive Income
Comprehensive Income
Notes
15
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R16.htm
2146109 - Disclosure - Benefit Plans
Benefit Plans
Notes
16
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R17.htm
2151110 - Disclosure - Commitments and Contingencies
Commitments and Contingencies
Notes
17
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R18.htm
2156111 - Disclosure - Segment Information and Geographic Data
Segment Information and Geographic Data
Notes
18
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R19.htm
2162112 - Disclosure - Leases
Leases
Notes
19
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R20.htm
2167113 - Disclosure - Selected Quarterly Financial Information (Unaudited)
Selected Quarterly Financial Information (Unaudited)
Notes
20
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R21.htm
2202201 - Disclosure - Summary of Significant Accounting Policies (Policies)
Summary of Significant Accounting Policies (Policies)
Policies
21
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R22.htm
2303301 - Disclosure - Summary of Significant Accounting Policies (Tables)
Summary of Significant Accounting Policies (Tables)
Tables
22
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R23.htm
2307302 - Disclosure - Revenue Recognition (Tables)
Revenue Recognition (Tables)
Tables
23
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R24.htm
2312303 - Disclosure - Financial Instruments (Tables)
Financial Instruments (Tables)
Tables
24
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R25.htm
2321304 - Disclosure - Consolidated Financial Statement Details (Tables)
Consolidated Financial Statement Details (Tables)
Tables
25
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R26.htm
2326305 - Disclosure - Income Taxes (Tables)
Income Taxes (Tables)
Tables
26
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R27.htm
2333306 - Disclosure - Debt (Tables)
Debt (Tables)
Tables
27
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R28.htm
2339307 - Disclosure - Shareholders' Equity (Tables)
Shareholders' Equity (Tables)
Tables
28
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R29.htm
2343308 - Disclosure - Comprehensive Income (Tables)
Comprehensive Income (Tables)
Tables
29
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R30.htm
2347309 - Disclosure - Benefit Plans (Tables)
Benefit Plans (Tables)
Tables
30
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R31.htm
2352310 - Disclosure - Commitments and Contingencies (Tables)
Commitments and Contingencies (Tables)
Tables
31
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R32.htm
2357311 - Disclosure - Segment Information and Geographic Data (Tables)
Segment Information and Geographic Data (Tables)
Tables
32
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R33.htm
2363312 - Disclosure - Leases (Tables)
Leases (Tables)
Tables
33
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R34.htm
2368313 - Disclosure - Selected Quarterly Financial Information (Unaudited) (Tables)
Selected Quarterly Financial Information (Unaudited) (Tables)
Tables
34
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R35.htm
2404401 - Disclosure - Summary of Significant Accounting Policies - Additional Information (Details)
Summary of Significant Accounting Policies - Additional Information (Details)
Details
35
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R36.htm
2405402 - Disclosure - Summary of Significant Accounting Policies - Computation of Basic and Diluted Earnings Per Share (Details)
Summary of Significant Accounting Policies - Computation of Basic and Diluted Earnings Per Share (Details)
Details
36
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R37.htm
2408403 - Disclosure - Revenue Recognition - Additional Information (Details)
Revenue Recognition - Additional Information (Details)
Details
37
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R38.htm
2409404 - Disclosure - Revenue Recognition - Deferred Revenue, Expected Timing of Realization (Details)
Revenue Recognition - Deferred Revenue, Expected Timing of Realization (Details)
Details
38
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R39.htm
2410405 - Disclosure - Revenue Recognition - Net Sales Disaggregated by Significant Products and Services (Details)
Revenue Recognition - Net Sales Disaggregated by Significant Products and Services (Details)
Details
39
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R40.htm
2413406 - Disclosure - Financial Instruments - Cash, Cash Equivalents and Marketable Securities (Details)
Financial Instruments - Cash, Cash Equivalents and Marketable Securities (Details)
Details
40
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R41.htm
2414407 - Disclosure - Financial Instruments - Additional Information (Details)
Financial Instruments - Additional Information (Details)
Details
41
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R42.htm
2415408 - Disclosure - Financial Instruments - Restricted Cash (Details)
Financial Instruments - Restricted Cash (Details)
Details
42
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R43.htm
2416409 - Disclosure - Financial Instruments - Derivative Instruments at Gross Fair Value (Details)
Financial Instruments - Derivative Instruments at Gross Fair Value (Details)
Details
43
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R44.htm
2417410 - Disclosure - Financial Instruments - Pre-Tax Gains and Losses of Derivative and Non-Derivative Instruments Designated as Cash Flow and Net Investment Hedges (Details)
Financial Instruments - Pre-Tax Gains and Losses of Derivative and Non-Derivative Instruments Designated as Cash Flow and Net Investment Hedges (Details)
Details
44
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R45.htm
2418411 - Disclosure - Financial Instruments - Derivative Instruments Designated as Fair Value Hedges and Related Hedged Items (Details)
Financial Instruments - Derivative Instruments Designated as Fair Value Hedges and Related Hedged Items (Details)
Details
45
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R46.htm
2419412 - Disclosure - Financial Instruments - Notional Amounts and Credit Risk Amounts Associated with Derivative Instruments (Details)
Financial Instruments - Notional Amounts and Credit Risk Amounts Associated with Derivative Instruments (Details)
Details
46
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R47.htm
2422413 - Disclosure - Consolidated Financial Statement Details - Property, Plant and Equipment, Net (Details)
Consolidated Financial Statement Details - Property, Plant and Equipment, Net (Details)
Details
47
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R48.htm
2423414 - Disclosure - Consolidated Financial Statement Details - Other Non-Current Liabilities (Details)
Consolidated Financial Statement Details - Other Non-Current Liabilities (Details)
Details
48
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R49.htm
2424415 - Disclosure - Consolidated Financial Statement Details - Other Income/(Expense), Net (Details)
Consolidated Financial Statement Details - Other Income/(Expense), Net (Details)
Details
49
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R50.htm
2427416 - Disclosure - Income Taxes - Provision for Income Taxes (Details)
Income Taxes - Provision for Income Taxes (Details)
Details
50
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R51.htm
2428417 - Disclosure - Income Taxes - Additional Information (Details)
Income Taxes - Additional Information (Details)
Details
51
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R52.htm
2429418 - Disclosure - Income Taxes - Reconciliation of the Provision for Income Taxes (Details)
Income Taxes - Reconciliation of the Provision for Income Taxes (Details)
Details
52
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R53.htm
2430419 - Disclosure - Income Taxes - Significant Components of Deferred Tax Assets and Liabilities (Details)
Income Taxes - Significant Components of Deferred Tax Assets and Liabilities (Details)
Details
53
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R54.htm
2431420 - Disclosure - Income Taxes - Aggregate Changes in Gross Unrecognized Tax Benefits (Details)
Income Taxes - Aggregate Changes in Gross Unrecognized Tax Benefits (Details)
Details
54
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R55.htm
2434421 - Disclosure - Debt - Additional Information (Details)
Debt - Additional Information (Details)
Details
55
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R56.htm
2435422 - Disclosure - Debt - Summary of Cash Flows Associated with Commercial Paper (Details)
Debt - Summary of Cash Flows Associated with Commercial Paper (Details)
Details
56
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R57.htm
2436423 - Disclosure - Debt - Summary of Term Debt (Details)
Debt - Summary of Term Debt (Details)
Details
57
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R58.htm
2437424 - Disclosure - Debt - Future Principal Payments for Term Debt (Details)
Debt - Future Principal Payments for Term Debt (Details)
Details
58
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R59.htm
2440425 - Disclosure - Shareholders' Equity - Additional Information (Details)
Shareholders' Equity - Additional Information (Details)
Details
59
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R60.htm
2441426 - Disclosure - Shareholders' Equity - Shares of Common Stock (Details)
Shareholders' Equity - Shares of Common Stock (Details)
Details
60
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R61.htm
2444427 - Disclosure - Comprehensive Income - Pre-tax Amounts Reclassified from AOCI into the Consolidated Statements of Operations (Details)
Comprehensive Income - Pre-tax Amounts Reclassified from AOCI into the Consolidated Statements of Operations (Details)
Details
61
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R62.htm
2445428 - Disclosure - Comprehensive Income - Change in AOCI by Component (Details)
Comprehensive Income - Change in AOCI by Component (Details)
Details
62
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R63.htm
2448429 - Disclosure - Benefit Plans - Additional Information (Details)
Benefit Plans - Additional Information (Details)
Details
63
----------------------------------------------------------------------------------------------------
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R64.htm
2449430 - Disclosure - Benefit Plans - Restricted Stock Units Activity and Related Information (Details)

In [249]:
# create the list to hold the statement urls
statements_url = []

for report_dict in master_reports:
    
    # define the statements we want to look for.
    item1 = r"CONSOLIDATED STATEMENTS OF OPERATIONS"
    item2 = r"CONSOLIDATED BALANCE SHEETS"
    item3 = r"CONSOLIDATED STATEMENTS OF CASH FLOWS"
    # item4 = r"Consolidated Statements of Stockholder's (Deficit) Equity"
    
    # store them in a list.
    report_list = [item1, item2, item3]
    
    # if the short name can be found in the report list.
    if report_dict['name_short'] in report_list:
        
        # print some info and store it in the statements url.
        print('-'*100)
        print(report_dict['name_short'])
        print(report_dict['url'])
        
        statements_url.append(report_dict['url'])

----------------------------------------------------------------------------------------------------
CONSOLIDATED STATEMENTS OF OPERATIONS
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R2.htm
----------------------------------------------------------------------------------------------------
CONSOLIDATED BALANCE SHEETS
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R4.htm
----------------------------------------------------------------------------------------------------
CONSOLIDATED STATEMENTS OF CASH FLOWS
https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/R7.htm

In [250]:
# let's assume we want all the statements in a single data set.
statements_data = []

# loop through each statement url
for statement in statements_url:

    # define a dictionary that will store the different parts of the statement.
    statement_data = {}
    statement_data['headers'] = []
    statement_data['sections'] = []
    statement_data['data'] = []
    
    # request the statement file content
    content = requests.get(statement).content
    report_soup = BeautifulSoup(content, 'html')

    # find all the rows, figure out what type of row it is, parse the elements, and store in the statement file list.
    for index, row in enumerate(report_soup.table.find_all('tr')):
        
        # first let's get all the elements.
        cols = row.find_all('td')
        
        # if it's a regular row and not a section or a table header
        if (len(row.find_all('th')) == 0 and len(row.find_all('strong')) == 0): 
            reg_row = [ele.text.strip() for ele in cols]
            statement_data['data'].append(reg_row)
            
        # if it's a regular row and a section but not a table header
        elif (len(row.find_all('th')) == 0 and len(row.find_all('strong')) != 0):
            sec_row = cols[0].text.strip()
            statement_data['sections'].append(sec_row)
            
        # finally if it's not any of those it must be a header
        elif (len(row.find_all('th')) != 0):            
            hed_row = [ele.text.strip() for ele in row.find_all('th')]
            statement_data['headers'].append(hed_row)
            
        else:            
            print('We encountered an error.')

    # append it to the master list.
    statements_data.append(statement_data)
    print(statement_data)

{'headers': [['CONSOLIDATED STATEMENTS OF OPERATIONS - USD ($) shares in Thousands, $ in Millions', '12 Months Ended'], ['Sep. 26, 2020', 'Sep. 28, 2019', 'Sep. 29, 2018']], 'sections': ['Operating expenses:', 'Earnings per share:', 'Shares used in computing earnings per share:'], 'data': [['Net sales', '$ 274,515', '$ 260,174', '$ 265,595'], ['Cost of sales', '169,559', '161,782', '163,756'], ['Gross margin', '104,956', '98,392', '101,839'], ['Research and development', '18,752', '16,217', '14,236'], ['Selling, general and administrative', '19,916', '18,245', '16,705'], ['Total operating expenses', '38,668', '34,462', '30,941'], ['Operating income', '66,288', '63,930', '70,898'], ['Other income/(expense), net', '803', '1,807', '2,005'], ['Income before provision for income taxes', '67,091', '65,737', '72,903'], ['Provision for income taxes', '9,680', '10,481', '13,372'], ['Net income', '$ 57,411', '$ 55,256', '$ 59,531'], ['Basic (in dollars per share)', '$ 3.31', '$ 2.99', '$ 3.00'], ['Diluted (in dollars per share)', '$ 3.28', '$ 2.97', '$ 2.98'], ['Basic (in shares)', '17,352,119', '18,471,336', '19,821,510'], ['Diluted (in shares)', '17,528,214', '18,595,651', '20,000,435'], ['Products', '', '', ''], ['Net sales', '$ 220,747', '$ 213,883', '$ 225,847'], ['Cost of sales', '151,286', '144,996', '148,164'], ['Services', '', '', ''], ['Net sales', '53,768', '46,291', '39,748'], ['Cost of sales', '$ 18,273', '$ 16,786', '$ 15,592']]}
{'headers': [['CONSOLIDATED BALANCE SHEETS - USD ($) $ in Millions', 'Sep. 26, 2020', 'Sep. 28, 2019']], 'sections': ['Current assets:', 'Non-current assets:', 'Current liabilities:', 'Non-current liabilities:', 'Shareholders’ equity:'], 'data': [['Cash and cash equivalents', '$ 38,016', '$ 48,844'], ['Marketable securities', '52,927', '51,713'], ['Accounts receivable, net', '16,120', '22,926'], ['Inventories', '4,061', '4,106'], ['Vendor non-trade receivables', '21,325', '22,878'], ['Other current assets', '11,264', '12,352'], ['Total current assets', '143,713', '162,819'], ['Marketable securities', '100,887', '105,341'], ['Property, plant and equipment, net', '36,766', '37,378'], ['Other non-current assets', '42,522', '32,978'], ['Total non-current assets', '180,175', '175,697'], ['Total assets', '323,888', '338,516'], ['Accounts payable', '42,296', '46,236'], ['Other current liabilities', '42,684', '37,720'], ['Deferred revenue', '6,643', '5,522'], ['Commercial paper', '4,996', '5,980'], ['Term debt', '8,773', '10,260'], ['Total current liabilities', '105,392', '105,718'], ['Term debt', '98,667', '91,807'], ['Other non-current liabilities', '54,490', '50,503'], ['Total non-current liabilities', '153,157', '142,310'], ['Total liabilities', '258,549', '248,028'], ['Commitments and contingencies', '', ''], ['Common stock and additional paid-in capital, $0.00001 par value: 50,400,000 shares authorized; 16,976,763 and 17,772,945 shares issued and outstanding, respectively', '50,779', '45,174'], ['Retained earnings', '14,966', '45,898'], ['Accumulated other comprehensive income/(loss)', '(406)', '(584)'], ['Total shareholders’ equity', '65,339', '90,488'], ['Total liabilities and shareholders’ equity', '$ 323,888', '$ 338,516']]}
{'headers': [['CONSOLIDATED STATEMENTS OF CASH FLOWS - USD ($) $ in Millions', '12 Months Ended'], ['Sep. 26, 2020', 'Sep. 28, 2019', 'Sep. 29, 2018']], 'sections': ['Statement of Cash Flows [Abstract]', 'Operating activities:', 'Adjustments to reconcile net income to cash generated by operating activities:', 'Changes in operating assets and liabilities:', 'Investing activities:', 'Financing activities:', 'Supplemental cash flow disclosure:'], 'data': [['Cash, cash equivalents and restricted cash, beginning balances', '$ 50,224', '$ 25,913', '$ 20,289'], ['Net income', '57,411', '55,256', '59,531'], ['Depreciation and amortization', '11,056', '12,547', '10,903'], ['Share-based compensation expense', '6,829', '6,068', '5,340'], ['Deferred income tax benefit', '(215)', '(340)', '(32,590)'], ['Other', '(97)', '(652)', '(444)'], ['Accounts receivable, net', '6,917', '245', '(5,322)'], ['Inventories', '(127)', '(289)', '828'], ['Vendor non-trade receivables', '1,553', '2,931', '(8,010)'], ['Other current and non-current assets', '(9,588)', '873', '(423)'], ['Accounts payable', '(4,062)', '(1,923)', '9,175'], ['Deferred revenue', '2,081', '(625)', '(3)'], ['Other current and non-current liabilities', '8,916', '(4,700)', '38,449'], ['Cash generated by operating activities', '80,674', '69,391', '77,434'], ['Purchases of marketable securities', '(114,938)', '(39,630)', '(71,356)'], ['Proceeds from maturities of marketable securities', '69,918', '40,102', '55,881'], ['Proceeds from sales of marketable securities', '50,473', '56,988', '47,838'], ['Payments for acquisition of property, plant and equipment', '(7,309)', '(10,495)', '(13,313)'], ['Payments made in connection with business acquisitions, net', '(1,524)', '(624)', '(721)'], ['Purchases of non-marketable securities', '(210)', '(1,001)', '(1,871)'], ['Proceeds from non-marketable securities', '92', '1,634', '353'], ['Other', '(791)', '(1,078)', '(745)'], ['Cash generated by/(used in) investing activities', '(4,289)', '45,896', '16,066'], ['Proceeds from issuance of common stock', '880', '781', '669'], ['Payments for taxes related to net share settlement of equity awards', '(3,634)', '(2,817)', '(2,527)'], ['Payments for dividends and dividend equivalents', '(14,081)', '(14,119)', '(13,712)'], ['Repurchases of common stock', '(72,358)', '(66,897)', '(72,738)'], ['Proceeds from issuance of term debt, net', '16,091', '6,963', '6,969'], ['Repayments of term debt', '(12,629)', '(8,805)', '(6,500)'], ['Repayments of commercial paper, net', '(963)', '(5,977)', '(37)'], ['Other', '(126)', '(105)', '0'], ['Cash used in financing activities', '(86,820)', '(90,976)', '(87,876)'], ['Increase/(Decrease) in cash, cash equivalents and restricted cash', '(10,435)', '24,311', '5,624'], ['Cash, cash equivalents and restricted cash, ending balances', '39,789', '50,224', '25,913'], ['Cash paid for income taxes, net', '9,501', '15,263', '10,417'], ['Cash paid for interest', '$ 3,002', '$ 3,423', '$ 3,022']]}

In [251]:
# income_header
(statements_data[0])['headers'][1]

['Sep. 26, 2020', 'Sep. 28, 2019', 'Sep. 29, 2018']

In [252]:
# Grab the proper components
income_header =  (statements_data[0])['headers'][1]
income_data = (statements_data[0])['data']

# Put the data in a DataFrame
income_df = pd.DataFrame(income_data)

# Display
print('-'*100)
print('Before Reindexing')
print('-'*100)
display(income_df.head())

# Define the Index column, rename it, and we need to make sure to drop the old column once we reindex.
income_df.index = income_df[0]
income_df.index.name = 'Category'
income_df = income_df.drop(0, axis = 1)

# Display
print('-'*100)
print('Before Regex')
print('-'*100)
display(income_df.head())

# Get rid of the '$', '(', ')', and convert the '' to NaNs.
income_df = income_df.replace('[\$,)]','', regex=True )\
                     .replace( '[(]','-', regex=True)\
                     .replace( '', 'NaN', regex=True)

# Display
print('-'*100)
print('Before type conversion')
print('-'*100)
display(income_df.head())

# everything is a string, so let's convert all the data to a float.
income_df = income_df.astype(float)

# Change the column headers
income_df.columns = income_header

# Display
print('-'*100)
print('Final Product')
print('-'*100)

# show the df
income_df

# drop the data in a CSV file if need be.
# income_df.to_csv('income_state.csv')

----------------------------------------------------------------------------------------------------
Before Reindexing
----------------------------------------------------------------------------------------------------

                                     0          1          2          3
0                            Net sales  $ 274,515  $ 260,174  $ 265,595
1                        Cost of sales    169,559    161,782    163,756
2                         Gross margin    104,956     98,392    101,839
3             Research and development     18,752     16,217     14,236
4  Selling, general and administrative     19,916     18,245     16,705

----------------------------------------------------------------------------------------------------
Before Regex
----------------------------------------------------------------------------------------------------

                                             1          2          3
Category
Net sales                            $ 274,515  $ 260,174  $ 265,595
Cost of sales                          169,559    161,782    163,756
Gross margin                           104,956     98,392    101,839
Research and development                18,752     16,217     14,236
Selling, general and administrative     19,916     18,245     16,705

----------------------------------------------------------------------------------------------------
Before type conversion
----------------------------------------------------------------------------------------------------

                                           1        2        3
Category
Net sales                             274515   260174   265595
Cost of sales                         169559   161782   163756
Gross margin                          104956    98392   101839
Research and development               18752    16217    14236
Selling, general and administrative    19916    18245    16705

----------------------------------------------------------------------------------------------------
Final Product
----------------------------------------------------------------------------------------------------

                                          Sep. 26, 2020  ...  Sep. 29, 2018
Category                                                 ...
Net sales                                     274515.00  ...      265595.00
Cost of sales                                 169559.00  ...      163756.00
Gross margin                                  104956.00  ...      101839.00
Research and development                       18752.00  ...       14236.00
Selling, general and administrative            19916.00  ...       16705.00
Total operating expenses                       38668.00  ...       30941.00
Operating income                               66288.00  ...       70898.00
Other income/(expense), net                      803.00  ...        2005.00
Income before provision for income taxes       67091.00  ...       72903.00
Provision for income taxes                      9680.00  ...       13372.00
Net income                                     57411.00  ...       59531.00
Basic (in dollars per share)                       3.31  ...           3.00
Diluted (in dollars per share)                     3.28  ...           2.98
Basic (in shares)                           17352119.00  ...    19821510.00
Diluted (in shares)                         17528214.00  ...    20000435.00
Products                                            NaN  ...            NaN
Net sales                                     220747.00  ...      225847.00
Cost of sales                                 151286.00  ...      148164.00
Services                                            NaN  ...            NaN
Net sales                                      53768.00  ...       39748.00
Cost of sales                                  18273.00  ...       15592.00

[21 rows x 3 columns]

In [253]:
income_df.transpose()

Category       Net sales  Cost of sales  ...  Net sales  Cost of sales
Sep. 26, 2020   274515.0       169559.0  ...    53768.0        18273.0
Sep. 28, 2019   260174.0       161782.0  ...    46291.0        16786.0
Sep. 29, 2018   265595.0       163756.0  ...    39748.0        15592.0

[3 rows x 21 columns]

In [254]:
income_df.T.index

Index(['Sep. 26, 2020', 'Sep. 28, 2019', 'Sep. 29, 2018'], dtype='object')

In [255]:
pd.to_datetime(income_df.T.index)

DatetimeIndex(['2020-09-26', '2019-09-28', '2018-09-29'], dtype='datetime64[ns]', freq=None)

In [256]:
income_df_new = income_df.T
income_df_new.index = pd.to_datetime(income_df_new.index)

income_df_new

Category    Net sales  Cost of sales  ...  Net sales  Cost of sales
2020-09-26   274515.0       169559.0  ...    53768.0        18273.0
2019-09-28   260174.0       161782.0  ...    46291.0        16786.0
2018-09-29   265595.0       163756.0  ...    39748.0        15592.0

[3 rows x 21 columns]

In [257]:
income_df_new = income_df_new.dropna(axis=1)

income_df_new

Category    Net sales  Cost of sales  ...  Net sales  Cost of sales
2020-09-26   274515.0       169559.0  ...    53768.0        18273.0
2019-09-28   260174.0       161782.0  ...    46291.0        16786.0
2018-09-29   265595.0       163756.0  ...    39748.0        15592.0

[3 rows x 19 columns]

In [258]:
# income_df_new.mean(axis=0)

import yfinance as yf

tickers = ["AAPL"] # Tesla stock and Bitcoin in USD

start_date = '2010-01-01'
end_date = '2021-01-01'

In [259]:
panel_data = yf.download(tickers=tickers, start=start_date, end=end_date)[['Adj Close']].dropna(axis=0)
panel_data

[*********************100%***********************]  1 of 1 completed

             Adj Close
Date
2010-01-04    6.583586
2010-01-05    6.594968
2010-01-06    6.490066
2010-01-07    6.478067
2010-01-08    6.521136
...                ...
2020-12-24  131.773087
2020-12-28  136.486053
2020-12-29  134.668762
2020-12-30  133.520477
2020-12-31  132.492020

[2769 rows x 1 columns]

In [260]:
# obtain percentage change for each stock to use as the y variable in training
panel_data['AAPL_pct_change'] = panel_data['Adj Close'].pct_change()

# panel_data.dropna(axis=0)

#ignore first row due to NaN
panel_data = panel_data.iloc[1:, :]
panel_data

             Adj Close  AAPL_pct_change
Date
2010-01-05    6.594968         0.001729
2010-01-06    6.490066        -0.015906
2010-01-07    6.478067        -0.001849
2010-01-08    6.521136         0.006648
2010-01-11    6.463610        -0.008821
...                ...              ...
2020-12-24  131.773087         0.007712
2020-12-28  136.486053         0.035766
2020-12-29  134.668762        -0.013315
2020-12-30  133.520477        -0.008527
2020-12-31  132.492020        -0.007703

[2768 rows x 2 columns]

In [261]:
from datetime import timedelta
# obtain dates of income_df (they are the indices)
dates = income_df_new.index
# subtract one day from each day to obtain the Friday's instead of the saturdays
dates = dates - timedelta(days=1)
# obtain the one year before the minimum date value in financial statement
new_date = dates.min() - timedelta(days=366) # subtract 90 when you do quarterlies
# append new date to our dates
new_dates = np.append(dates, np.datetime64(new_date))
# slice out the desired dates in our pct_change df
panel_data.loc[pd.DatetimeIndex(new_dates), :]

             Adj Close  AAPL_pct_change
2020-09-25  111.919373         0.037516
2019-09-27   53.993587        -0.004866
2018-09-28   54.849937         0.003512
2017-09-27   36.916378         0.007118

In [262]:


# Make new dataframe of relevant stock adjusted close prices (2020-09-26, 2019-09-28, 2018-09-29, 2017-09-29)
consolidated_df = panel_data.loc[new_dates, :]


consolidated_df['AAPL_pct_change'] = consolidated_df[['Adj Close']].pct_change(-1)
consolidated_df = consolidated_df.dropna(axis = 0)

In [263]:
income_df_new['Ann_pct_change'] = consolidated_df['AAPL_pct_change']

income_df_new

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1601: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(new_indexer, value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

Category    Net sales  Cost of sales  ...  Cost of sales  Ann_pct_change
2020-09-26   274515.0       169559.0  ...        18273.0        1.072827
2019-09-28   260174.0       161782.0  ...        16786.0       -0.015613
2018-09-29   265595.0       163756.0  ...        15592.0        0.485789

[3 rows x 20 columns]