In [114]:
!pip install yfinance
!pip install svm

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.59)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: svm in /usr/local/lib/python3.7/dist-packages (0.1.0)
Requirement already satisfied: colorama in /usr/local/lib/python3.7/dist-packages (from svm) (0.4.4)
Requirement already satisfied: xmltodict in /usr/local/lib/python3.7/dist-packages (from svm) (0.12.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from svm) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->svm) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->svm) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->svm) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->svm) (2.10)

In [115]:
import yfinance as yf
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
import csv

In [116]:
from google.colab import files
uploaded = files.upload()

In [117]:
aapl = pd.read_csv("Quarterly_Data_AAPL.csv")
aapl.insert(1, "Ticker", "AAPL")
aapl

          Year Ticker  ...  Change_Cash_Financials  Change_Cash_Equivalents
0   2014-12-27   AAPL  ...                    6923                     5634
1   2015-03-28   AAPL  ...                  -15585                    -4989
2   2015-06-25   AAPL  ...                   -2755                      830
3   2015-09-26   AAPL  ...                   -6299                     5801
4   2015-12-26   AAPL  ...                  -11444                    -4431
5   2016-03-26   AAPL  ...                    6884                     4825
6   2016-06-25   AAPL  ...                   -9441                    -3277
7   2016-09-24   AAPL  ...                   -6482                     2247
8   2016-12-31   AAPL  ...                  -12047                    -4113
9   2017-04-01   AAPL  ...                     465                    -1214
10  2017-07-01   AAPL  ...                   -1769                     3414
11  2017-09-30   AAPL  ...                   -3996                     1718
12  2017-12-30   AAPL  ...                   -7501                     7202
13  2018-03-31   AAPL  ...                  -26272                    17568
14  2018-06-30   AAPL  ...                  -31523                   -13088
15  2018-09-29   AAPL  ...                  -22580                    -6058
16  2018-12-29   AAPL  ...                  -13676                    18858
17  2019-03-30   AAPL  ...                  -29457                    -4954
18  2019-06-29   AAPL  ...                  -26804                    12334
19  2019-09-28   AAPL  ...                  -21039                    -1927
20  2019-12-28   AAPL  ...                  -25407                    -8559
21  2020-03-28   AAPL  ...                  -20940                     1384
22  2020-06-27   AAPL  ...                  -19116                    -8010
23  2020-09-26   AAPL  ...                  -21357                     4750

[24 rows x 7 columns]

In [118]:
tsla = pd.read_csv("Quarterly_Data_TSLA.csv")
tsla.insert(1, "Ticker", "TSLA")
tsla

          Year Ticker  ...  Change_Cash_Financials  Change_Cash_Equivalents
0   2015-03-31   TSLA  ...                 186.156                 -395.637
1   2015-06-30   TSLA  ...                 218.351                 -359.403
2   2015-09-30   TSLA  ...                 893.978                  275.363
3   2015-12-31   TSLA  ...                 225.038                 -229.128
4   2016-03-31   TSLA  ...                 715.435                  244.881
5   2016-06-30   TSLA  ...                1976.584                 1804.512
6   2016-09-30   TSLA  ...                -320.870                 -162.044
7   2016-12-31   TSLA  ...                1372.827                  308.959
8   2017-03-31   TSLA  ...                1598.749                  613.377
9   2017-06-30   TSLA  ...                 428.767                 -970.669
10  2017-09-30   TSLA  ...                2101.506                  494.106
11  2017-12-31   TSLA  ...                 285.842                 -162.116
12  2018-03-31   TSLA  ...                 371.660                 -745.251
13  2018-06-30   TSLA  ...                 398.622                 -436.470
14  2018-09-30   TSLA  ...                 -84.218                  739.728
15  2018-12-31   TSLA  ...                -112.309                  753.422
16  2019-03-31   TSLA  ...                -653.019                -1593.590
17  2019-06-30   TSLA  ...                2142.841                 2765.495
18  2019-09-30   TSLA  ...                 118.178                  377.095
19  2019-12-31   TSLA  ...                 -79.000                  957.000
20  2020-03-31   TSLA  ...                2708.000                 1764.000
21  2020-06-30   TSLA  ...                 123.000                  559.000
22  2020-09-30   TSLA  ...                4450.000                 5897.000
23  2020-12-31   TSLA  ...                2692.000                 4898.000

[24 rows x 7 columns]

In [119]:
#Retrieve adjusted close for each date we have
def get_adj_close(df, tckr):
    dates = list(df["Year"])
    close = np.array([])
    start = ""

    for i in range(len(dates) - 1):
        start = dates[i]
        end = dates[i + 1]
        adj = yf.download(tckr, start = start, end = end)["Adj Close"]
        close = np.append(close, adj[0])

        if i is len(dates) - 2:
            close = np.append(close, adj[-1])
    return close

In [120]:
aapl["Adj_Close"] = get_adj_close(aapl, "AAPL")
tsla["Adj_Close"] = get_adj_close(tsla, "TSLA")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [121]:
aapl["%Change"] = aapl.Adj_Close.pct_change()
aapl
# aapl["%Change"] = np.where(aapl.Adj_Close.pct_change() > 0, "BULLISH", "BEARISH")
# aapl

          Year Ticker  ...   Adj_Close   %Change
0   2014-12-27   AAPL  ...   25.902882       NaN
1   2015-03-28   AAPL  ...   28.849669  0.113763
2   2015-06-25   AAPL  ...   29.229227  0.013156
3   2015-09-26   AAPL  ...   25.893421 -0.114126
4   2015-12-26   AAPL  ...   24.704502 -0.045916
5   2016-03-26   AAPL  ...   24.459534 -0.009916
6   2016-06-25   AAPL  ...   21.532110 -0.119684
7   2016-09-24   AAPL  ...   26.550533  0.233067
8   2016-12-31   AAPL  ...   27.459938  0.034252
9   2017-04-01   AAPL  ...   34.120541  0.242557
10  2017-07-01   AAPL  ...   34.213696  0.002730
11  2017-09-30   AAPL  ...   36.815842  0.076056
12  2017-12-30   AAPL  ...   41.380238  0.123979
13  2018-03-31   AAPL  ...   40.203072 -0.028448
14  2018-06-30   AAPL  ...   45.321751  0.127321
15  2018-09-29   AAPL  ...   55.219261  0.218383
16  2018-12-29   AAPL  ...   38.461140 -0.303483
17  2019-03-30   AAPL  ...   46.829304  0.217575
18  2019-06-29   AAPL  ...   49.543983  0.057970
19  2019-09-28   AAPL  ...   55.264339  0.115460
20  2019-12-28   AAPL  ...   72.148178  0.305511
21  2020-03-28   AAPL  ...   63.212502 -0.123852
22  2020-06-27   AAPL  ...   89.992256  0.423646
23  2020-09-26   AAPL  ...  111.919373  0.243656

[24 rows x 9 columns]

In [122]:
tsla["%Change"] = tsla.Adj_Close.pct_change()

# tsla["%Change"] = np.where(tsla.Adj_Close.pct_change() > 0, "BULLISH", "BEARISH")
tsla

          Year Ticker  ...   Adj_Close   %Change
0   2015-03-31   TSLA  ...   37.754002       NaN
1   2015-06-30   TSLA  ...   53.652000  0.421094
2   2015-09-30   TSLA  ...   49.680000 -0.074033
3   2015-12-31   TSLA  ...   48.001999 -0.033776
4   2016-03-31   TSLA  ...   45.953999 -0.042665
5   2016-06-30   TSLA  ...   42.456001 -0.076120
6   2016-09-30   TSLA  ...   40.806000 -0.038864
7   2016-12-31   TSLA  ...   43.397999  0.063520
8   2017-03-31   TSLA  ...   55.660000  0.282548
9   2017-06-30   TSLA  ...   72.321999  0.299353
10  2017-09-30   TSLA  ...   68.306000 -0.055529
11  2017-12-31   TSLA  ...   64.106003 -0.061488
12  2018-03-31   TSLA  ...   50.495998 -0.212305
13  2018-06-30   TSLA  ...   67.014000  0.327115
14  2018-09-30   TSLA  ...   62.139999 -0.072731
15  2018-12-31   TSLA  ...   66.559998  0.071130
16  2019-03-31   TSLA  ...   57.835999 -0.131070
17  2019-06-30   TSLA  ...   45.433998 -0.214434
18  2019-09-30   TSLA  ...   48.174000  0.060307
19  2019-12-31   TSLA  ...   83.666000  0.736746
20  2020-03-31   TSLA  ...  104.800003  0.252600
21  2020-06-30   TSLA  ...  215.962006  1.060706
22  2020-09-30   TSLA  ...  429.010010  0.986507
23  2020-12-31   TSLA  ...  694.780029  0.619496

[24 rows x 9 columns]

In [123]:
# #Combine dfs without NaN row
df = pd.concat([aapl[1:], tsla[1:]])
# df["%Change"] = np.where(df["%Change"] == "BULLISH", 1.0, 0.0)
df

          Year Ticker  ...   Adj_Close   %Change
1   2015-03-28   AAPL  ...   28.849669  0.113763
2   2015-06-25   AAPL  ...   29.229227  0.013156
3   2015-09-26   AAPL  ...   25.893421 -0.114126
4   2015-12-26   AAPL  ...   24.704502 -0.045916
5   2016-03-26   AAPL  ...   24.459534 -0.009916
6   2016-06-25   AAPL  ...   21.532110 -0.119684
7   2016-09-24   AAPL  ...   26.550533  0.233067
8   2016-12-31   AAPL  ...   27.459938  0.034252
9   2017-04-01   AAPL  ...   34.120541  0.242557
10  2017-07-01   AAPL  ...   34.213696  0.002730
11  2017-09-30   AAPL  ...   36.815842  0.076056
12  2017-12-30   AAPL  ...   41.380238  0.123979
13  2018-03-31   AAPL  ...   40.203072 -0.028448
14  2018-06-30   AAPL  ...   45.321751  0.127321
15  2018-09-29   AAPL  ...   55.219261  0.218383
16  2018-12-29   AAPL  ...   38.461140 -0.303483
17  2019-03-30   AAPL  ...   46.829304  0.217575
18  2019-06-29   AAPL  ...   49.543983  0.057970
19  2019-09-28   AAPL  ...   55.264339  0.115460
20  2019-12-28   AAPL  ...   72.148178  0.305511
21  2020-03-28   AAPL  ...   63.212502 -0.123852
22  2020-06-27   AAPL  ...   89.992256  0.423646
23  2020-09-26   AAPL  ...  111.919373  0.243656
1   2015-06-30   TSLA  ...   53.652000  0.421094
2   2015-09-30   TSLA  ...   49.680000 -0.074033
3   2015-12-31   TSLA  ...   48.001999 -0.033776
4   2016-03-31   TSLA  ...   45.953999 -0.042665
5   2016-06-30   TSLA  ...   42.456001 -0.076120
6   2016-09-30   TSLA  ...   40.806000 -0.038864
7   2016-12-31   TSLA  ...   43.397999  0.063520
8   2017-03-31   TSLA  ...   55.660000  0.282548
9   2017-06-30   TSLA  ...   72.321999  0.299353
10  2017-09-30   TSLA  ...   68.306000 -0.055529
11  2017-12-31   TSLA  ...   64.106003 -0.061488
12  2018-03-31   TSLA  ...   50.495998 -0.212305
13  2018-06-30   TSLA  ...   67.014000  0.327115
14  2018-09-30   TSLA  ...   62.139999 -0.072731
15  2018-12-31   TSLA  ...   66.559998  0.071130
16  2019-03-31   TSLA  ...   57.835999 -0.131070
17  2019-06-30   TSLA  ...   45.433998 -0.214434
18  2019-09-30   TSLA  ...   48.174000  0.060307
19  2019-12-31   TSLA  ...   83.666000  0.736746
20  2020-03-31   TSLA  ...  104.800003  0.252600
21  2020-06-30   TSLA  ...  215.962006  1.060706
22  2020-09-30   TSLA  ...  429.010010  0.986507
23  2020-12-31   TSLA  ...  694.780029  0.619496

[46 rows x 9 columns]

In [124]:
#Split data (Train on 2020)
x_train = df[~df["Year"].str.contains("2020")].iloc[:,2:-1].values
y_train = df[~df["Year"].str.contains("2020")].iloc[:,-1:].values

x_test = df[df["Year"].str.contains("2020")].iloc[:,2:-1].values
y_test = df[df["Year"].str.contains("2020")].iloc[:,-1:].values

# x = df.iloc[:,1:-1].values
# y = df.iloc[:, -1].values
# x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

print(x_train)
print(y_train)
print(x_test)
print(y_test)

[[ 1.35690000e+04  1.90810000e+04 -2.23310000e+04 -1.55850000e+04
  -4.98900000e+03  2.88496685e+01]
 [ 1.06770000e+04  1.49880000e+04 -1.14030000e+04 -2.75500000e+03
   8.30000000e+02  2.92292271e+01]
 [ 1.11240000e+04  1.34750000e+04 -1.37500000e+03 -6.29900000e+03
   5.80100000e+03  2.58934212e+01]
 [ 1.83610000e+04  2.74630000e+04 -2.04500000e+04 -1.14440000e+04
  -4.43100000e+03  2.47045021e+01]
 [ 1.05160000e+04  1.16010000e+04 -1.36600000e+04  6.88400000e+03
   4.82500000e+03  2.44595337e+01]
 [ 7.79600000e+03  1.06340000e+04 -4.47000000e+03 -9.44100000e+03
  -3.27700000e+03  2.15321102e+01]
 [ 9.01400000e+03  1.61260000e+04 -7.39700000e+03 -6.48200000e+03
   2.24700000e+03  2.65505333e+01]
 [ 1.78910000e+04  2.70560000e+04 -1.91220000e+04 -1.20470000e+04
  -4.11300000e+03  2.74599380e+01]
 [ 1.10290000e+04  1.25230000e+04 -1.42020000e+04  4.65000000e+02
  -1.21400000e+03  3.41205406e+01]
 [ 8.71700000e+03  8.36300000e+03 -3.18000000e+03 -1.76900000e+03
   3.41400000e+03  3.42136955e+01]
 [ 1.07140000e+04  1.56560000e+04 -9.94200000e+03 -3.99600000e+03
   1.71800000e+03  3.68158417e+01]
 [ 2.00650000e+04  2.82930000e+04 -1.35900000e+04 -7.50100000e+03
   7.20200000e+03  4.13802376e+01]
 [ 1.38220000e+04  1.51300000e+04  2.87100000e+04 -2.62720000e+04
   1.75680000e+04  4.02030716e+01]
 [ 1.15190000e+04  1.44880000e+04  3.94700000e+03 -3.15230000e+04
  -1.30880000e+04  4.53217506e+01]
 [ 1.41250000e+04  1.95230000e+04 -3.00100000e+03 -2.25800000e+04
  -6.05800000e+03  5.52192612e+01]
 [ 1.99650000e+04  2.66900000e+04  5.84400000e+03 -1.36760000e+04
   1.88580000e+04  3.84611397e+01]
 [ 1.15610000e+04  1.11550000e+04  1.33480000e+04 -2.94570000e+04
  -4.95400000e+03  4.68293037e+01]
 [ 1.00440000e+04  1.16360000e+04  2.75020000e+04 -2.68040000e+04
   1.23340000e+04  4.95439835e+01]
 [ 1.36860000e+04  1.99100000e+04 -7.98000000e+02 -2.10390000e+04
  -1.92700000e+03  5.52643394e+01]
 [ 2.22360000e+04  3.05160000e+04 -1.36680000e+04 -2.54070000e+04
  -8.55900000e+03  7.21481781e+01]
 [-1.84227000e+02 -1.59516000e+02 -4.22837000e+02  2.18351000e+02
  -3.59403000e+02  5.36520004e+01]
 [-2.29858000e+02 -2.03340000e+02 -4.04090000e+02  8.93978000e+02
   2.75363000e+02  4.96800003e+01]
 [-3.20397000e+02 -2.98490000e+01 -4.14280000e+02  2.25038000e+02
  -2.29128000e+02  4.80019989e+01]
 [-2.82267000e+02 -2.49605000e+02 -2.33819000e+02  7.15435000e+02
   2.44881000e+02  4.59539986e+01]
 [-2.93188000e+02  1.50336000e+02 -3.19854000e+02  1.97658400e+03
   1.80451200e+03  4.24560013e+01]
 [ 2.18780000e+01  4.23649000e+02 -2.68006000e+02 -3.20870000e+02
  -1.62044000e+02  4.08059998e+01]
 [-2.19469000e+02 -4.48209000e+02 -5.94751000e+02  1.37282700e+03
   3.08959000e+02  4.33979988e+01]
 [-3.97181000e+02 -6.98110000e+01 -9.26943000e+02  1.59874900e+03
   6.13377000e+02  5.56599998e+01]
 [-4.01427000e+02 -2.00172000e+02 -1.21521600e+03  4.28767000e+02
  -9.70669000e+02  7.23219986e+01]
 [-6.71163000e+02 -3.00562000e+02 -1.31493200e+03  2.10150600e+03
   4.94106000e+02  6.83059998e+01]
 [-7.70807000e+02  5.09891000e+02 -9.61876000e+02  2.85842000e+02
  -1.62116000e+02  6.41060028e+01]
 [-7.84627000e+02 -3.98376000e+02 -7.28637000e+02  3.71660000e+02
  -7.45251000e+02  5.04959984e+01]
 [-7.42706000e+02 -1.29664000e+02 -6.82817000e+02  3.98622000e+02
  -4.36470000e+02  6.70139999e+01]
 [ 2.54673000e+02  1.39128100e+03 -5.60965000e+02 -8.42180000e+01
   7.39728000e+02  6.21399994e+01]
 [ 2.10078000e+02  1.23456100e+03 -3.65009000e+02 -1.12309000e+02
   7.53422000e+02  6.65599976e+01]
 [-6.67645000e+02 -6.39606000e+02 -3.05843000e+02 -6.53019000e+02
  -1.59359000e+03  5.78359985e+01]
 [-3.89262000e+02  8.63606000e+02 -2.41545000e+02  2.14284100e+03
   2.76549500e+03  4.54339981e+01]
 [ 1.49907000e+02  7.56000000e+02 -4.85612000e+02  1.18178000e+02
   3.77095000e+02  4.81739998e+01]
 [ 1.32000000e+02  1.42500000e+03 -4.03000000e+02 -7.90000000e+01
   9.57000000e+02  8.36660004e+01]]
[[ 0.1137629 ]
 [ 0.01315643]
 [-0.1141257 ]
 [-0.04591587]
 [-0.00991594]
 [-0.11968435]
 [ 0.23306694]
 [ 0.03425185]
 [ 0.24255709]
 [ 0.00273017]
 [ 0.07605569]
 [ 0.12397913]
 [-0.02844754]
 [ 0.1273206 ]
 [ 0.21838324]
 [-0.30348326]
 [ 0.21757452]
 [ 0.05796968]
 [ 0.11546015]
 [ 0.30551055]
 [ 0.4210944 ]
 [-0.07403266]
 [-0.0337762 ]
 [-0.0426649 ]
 [-0.07611954]
 [-0.0388638 ]
 [ 0.06352005]
 [ 0.28254761]
 [ 0.29935319]
 [-0.05552942]
 [-0.06148797]
 [-0.21230468]
 [ 0.32711506]
 [-0.07273108]
 [ 0.07112968]
 [-0.1310697 ]
 [-0.21443393]
 [ 0.0603073 ]
 [ 0.73674598]]
[[ 11249.          13311.           9013.         -20940.
    1384.             63.21250153]
 [ 11253.          16271.          -5165.         -19116.
   -8010.             89.99225616]
 [ 12673.          20576.           5531.         -21357.
    4750.            111.91937256]
 [    68.           -440.           -480.           2708.
    1764.            104.80000305]
 [   129.            964.           -566.            123.
     559.            215.96200562]
 [   369.           2400.          -1039.           4450.
    5897.            429.01000977]
 [   296.           3019.          -1047.           2692.
    4898.            694.7800293 ]]
[[-0.12385173]
 [ 0.42364649]
 [ 0.24365559]
 [ 0.25259965]
 [ 1.0607061 ]
 [ 0.98650688]
 [ 0.61949608]]

In [125]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)
y_predicted_lr = regressor.predict(x_test)

# round predictions
y_predicted_lr = np.where(y_test < 0.5, 0, 1).reshape(-1,1)
y_predicted_lr

array([[0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1]])

In [126]:
# y_train.shape[1]

X_orig = df.iloc[:,2:-1].values
y_orig = df.iloc[:,-1:].values
y_orig

array([[ 0.1137629 ],
       [ 0.01315643],
       [-0.1141257 ],
       [-0.04591587],
       [-0.00991594],
       [-0.11968435],
       [ 0.23306694],
       [ 0.03425185],
       [ 0.24255709],
       [ 0.00273017],
       [ 0.07605569],
       [ 0.12397913],
       [-0.02844754],
       [ 0.1273206 ],
       [ 0.21838324],
       [-0.30348326],
       [ 0.21757452],
       [ 0.05796968],
       [ 0.11546015],
       [ 0.30551055],
       [-0.12385173],
       [ 0.42364649],
       [ 0.24365559],
       [ 0.4210944 ],
       [-0.07403266],
       [-0.0337762 ],
       [-0.0426649 ],
       [-0.07611954],
       [-0.0388638 ],
       [ 0.06352005],
       [ 0.28254761],
       [ 0.29935319],
       [-0.05552942],
       [-0.06148797],
       [-0.21230468],
       [ 0.32711506],
       [-0.07273108],
       [ 0.07112968],
       [-0.1310697 ],
       [-0.21443393],
       [ 0.0603073 ],
       [ 0.73674598],
       [ 0.25259965],
       [ 1.0607061 ],
       [ 0.98650688],
       [ 0.61949608]])

In [144]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn import datasets, svm
from sklearn import preprocessing
from sklearn import utils

lab_enc = preprocessing.LabelEncoder()
encoded_tr = lab_enc.fit_transform(y_train.ravel())
encoded_ts = lab_enc.fit_transform(y_test.ravel())

# encoded

# print(utils.multiclass.type_of_target(y_orig.ravel()))

# print(utils.multiclass.type_of_target(y_orig.ravel().astype('int')))

# print(utils.multiclass.type_of_target(encoded))
svc = svm.SVC(kernel='linear')
k_fold = KFold(n_splits=5)

# [svc.fit(x_train[x_tr], encoded_tr[y_tr]).score(x_test[x_ts], encoded_ts[y_ts]) for x_tr, x_ts, y_tr, y_ts in zip(x_train, encoded_tr, x_test, encoded_ts)]

print(y_train.shape[0])
print(encoded.shape[0])
# y_train = encoded

# y_train

# accuracies = cross_val_score(estimator = regressor, X = x_train, y = encoded, cv = 3)
# print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
# print("Standard Deviation: {:.2f} %".format(accuracies.std()*100)+"\n\n")

IndexError: ignored

In [128]:
from sklearn.model_selection import cross_val_score
from sklearn import svm
import sklearn

print(sorted(sklearn.metrics.SCORERS.keys()))

['accuracy', 'adjusted_mutual_info_score', 'adjusted_rand_score', 'average_precision', 'balanced_accuracy', 'completeness_score', 'explained_variance', 'f1', 'f1_macro', 'f1_micro', 'f1_samples', 'f1_weighted', 'fowlkes_mallows_score', 'homogeneity_score', 'jaccard', 'jaccard_macro', 'jaccard_micro', 'jaccard_samples', 'jaccard_weighted', 'max_error', 'mutual_info_score', 'neg_brier_score', 'neg_log_loss', 'neg_mean_absolute_error', 'neg_mean_gamma_deviance', 'neg_mean_poisson_deviance', 'neg_mean_squared_error', 'neg_mean_squared_log_error', 'neg_median_absolute_error', 'neg_root_mean_squared_error', 'normalized_mutual_info_score', 'precision', 'precision_macro', 'precision_micro', 'precision_samples', 'precision_weighted', 'r2', 'recall', 'recall_macro', 'recall_micro', 'recall_samples', 'recall_weighted', 'roc_auc', 'roc_auc_ovo', 'roc_auc_ovo_weighted', 'roc_auc_ovr', 'roc_auc_ovr_weighted', 'v_measure_score']

In [145]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = regressor, X = x_train, y = encoded_tr, cv = 3)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100)+"\n\n")


from sklearn.model_selection import GridSearchCV
# parameters = [{'fit_intercept':['True', 'False'], 'normalize':['True', 'False'], 'positive':['True', 'False']}]
parameters = [{'fit_intercept':['True', 'False'], 'normalize':['True', 'False']}]
grid_search = GridSearchCV(estimator = regressor, param_grid = parameters, scoring = 'neg_root_mean_squared_error', cv = 5, n_jobs = -1)

grid_search.fit(x_train, y_train.ravel())
best_accuracy = grid_search.best_score_
best_parameters = grid_search.best_params_
print("Best Accuracy: {:.2f} %".format(best_accuracy*100))
print("Best Parameters:", best_parameters)

Accuracy: -177810.37 %
Standard Deviation: 251446.62 %


Best Accuracy: -21.30 %
Best Parameters: {'fit_intercept': 'True', 'normalize': 'True'}

In [130]:
# from sklearn.model_selection import cross_val_score
# accuracies = cross_val_score(estimator = regressor, X = x_train, y = y_train, cv = 3)
# print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
# print("Standard Deviation: {:.2f} %".format(accuracies.std()*100)+"\n\n")


# from sklearn.model_selection import GridSearchCV
# # parameters = [{'fit_intercept':['True', 'False'], 'normalize':['True', 'False'], 'positive':['True', 'False']}]
# parameters = [{'fit_intercept':['True', 'False'], 'normalize':['True', 'False']}]
# grid_search = GridSearchCV(estimator = regressor, param_grid = parameters, scoring = 'neg_root_mean_squared_error', cv = 5, n_jobs = -1)

# grid_search.fit(x_train, y_train.ravel())
# best_accuracy = grid_search.best_score_
# best_parameters = grid_search.best_params_
# print("Best Accuracy: {:.2f} %".format(best_accuracy*100))
# print("Best Parameters:", best_parameters)

In [131]:
# from sklearn.model_selection import cross_val_score
# from sklearn import svm
# import sklearn
# # svc = svm.SVC(C=1, kernel='linear')
# clf = svm.SVC(random_state=0)
# accuracies = cross_val_score(estimator = clf, X = x_train, y = y_train.ravel(), cv = 10)
# print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
# print("Standard Deviation: {:.2f} %".format(accuracies.std()*100)+"\n\n")


# from sklearn.model_selection import GridSearchCV
# parameters = [{'fit_intercept':['True', 'False'], 'normalize':['True', 'False'], 'positive':['True', 'False']}]
# grid_search = GridSearchCV(estimator = regressor, param_grid = parameters, scoring = 'max_error', cv = 5, n_jobs = -1)
# print(sorted(sklearn.metrics.SCORERS.keys()))

# grid_search.fit(x_train, y_train)
# best_accuracy = grid_search.best_score_
# best_parameters = grid_search.best_params_
# print("Best Accuracy: {:.2f} %".format(best_accuracy*100))
# print("Best Parameters:", best_parameters)

In [132]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression(fit_intercept=True, normalize=True)
regressor.fit(x_train, y_train)
y_predicted_lr = regressor.predict(x_test)

# round predictions
y_predicted_lr = np.where(y_predicted < 0.5, 0, 1).reshape(-1,1)
y_predicted_lr

TypeError: ignored

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree = 4)
X_poly = poly_reg.fit_transform(x_train)
lin_reg_2 = LinearRegression()
lin_reg_2.fit(X_poly, y_train)

In [ ]:
y_predicted = lin_reg_2.predict(X_poly)

# round predictions
y_predicted = np.array([[round(x[0]) for x in y_predicted]]).reshape(-1,1)
y_predicted

In [ ]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = lin_reg_2, X = x_train, y = y_train.ravel(), cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100)+"\n\n")


from sklearn.model_selection import GridSearchCV
parameters = [{'fit_intercept':[True, False], 'normalize':[True, False], 'positive':[True, False]}]
grid_search = GridSearchCV(estimator = lin_reg_2, param_grid = parameters, scoring = 'neg_root_mean_squared_error', cv = 5, n_jobs = -1)

grid_search.fit(x_train, y_train.ravel())
best_accuracy = grid_search.best_score_
best_parameters = grid_search.best_params_
print("Best Accuracy: {:.2f} %".format(best_accuracy*100))
print("Best Parameters:", best_parameters)

In [ ]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(x_train, y_train.ravel())

y_predicted_svr = regressor.predict(x_test)

# round predictions
y_predicted_svr = np.where(y_predicted < 0.5, 0, 1).reshape(-1,1)
y_predicted_svr

In [ ]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = regressor, X = x_train, y = y_train.ravel(), cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100)+"\n\n")

print(regressor.get_params().keys())

from sklearn.model_selection import GridSearchCV
parameters = [{'C': [1, 10, 100, 1000], 'gamma': [1e-3, 1e-4]}]
grid_search = GridSearchCV(estimator = regressor, param_grid = parameters, scoring = 'neg_root_mean_squared_error', cv = 5, n_jobs = -1)

grid_search.fit(x_train, y_train.ravel())
best_accuracy = grid_search.best_score_
best_parameters = grid_search.best_params_
print("Best Accuracy: {:.2f} %".format(best_accuracy*100))
print("Best Parameters:", best_parameters)

In [ ]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf', C = 1, gamma = 0.0001)
regressor.fit(x_train, y_train.ravel())

y_predicted_svr = regressor.predict(x_test)

# round predictions
y_predicted_svr = np.where(y_predicted < 0.5, 0, 1).reshape(-1,1)
y_predicted_svr

In [ ]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(x_train, y_train)

y_predicted_dt = regressor.predict(x_test)

y_predicted_dt = np.where(y_predicted < 0.5, 0, 1).reshape(-1,1)
y_predicted_dt

In [ ]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = regressor, X = x_train, y = y_train.ravel(), cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100)+"\n\n")

print(regressor.get_params().keys())

from sklearn.model_selection import GridSearchCV
parameters = [{'max_depth':[3, None], 'max_features':[1, 2, 3, 4, 5], 'criterion': ['mse', 'mae']}]
grid_search = GridSearchCV(estimator = regressor, param_grid = parameters, scoring = 'neg_mean_squared_error', cv = 5, n_jobs = -1)

grid_search.fit(x_train, y_train.ravel())
best_accuracy = grid_search.best_score_
best_parameters = grid_search.best_params_
print("Best Accuracy: {:.2f} %".format(best_accuracy*100))
print("Best Parameters:", best_parameters)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0, max_depth = 3, max_features= 5)
regressor.fit(x_train, y_train)

y_predicted_dt = regressor.predict(x_test)

y_predicted_dt = np.where(y_predicted < 0.5, 0, 1).reshape(-1,1)
y_predicted_dt

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(x_train, y_train.ravel())

y_predicted_rf = regressor.predict(x_test)

# round predictions
y_predicted_rf = np.where(y_predicted < 0.5, 0, 1).reshape(-1,1)
y_predicted_rf

In [ ]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = regressor, X = x_train, y = y_train.ravel(), cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100)+"\n\n")

from sklearn.model_selection import GridSearchCV
parameters = [{'n_estimators': [2, 4, 8, 16, 20], 'criterion': ['mse', 'mae']}]
grid_search = GridSearchCV(estimator = regressor,
param_grid = parameters, scoring = 'neg_root_mean_squared_error', cv = 5, n_jobs = -1)
grid_search.fit(x_train, y_train.ravel())
best_accuracy = grid_search.best_score_
best_parameters = grid_search.best_params_
print("Best Accuracy: {:.2f} %".format(best_accuracy*100))
print("Best Parameters:", best_parameters)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 8, random_state = 0)
regressor.fit(x_train, y_train.ravel())
y_predicted_rf = regressor.predict(x_test)

# round predictions
y_predicted_rf = np.where(y_predicted < 0.5, 0, 1).reshape(-1,1)
# y_predicted = np.array([[round(x) for x in y_predicted]]).reshape(-1,1)
y_predicted_rf

In [ ]:
output = pd.DataFrame(df[df["Year"].str.contains("2020")])
output = output.drop(["Change_Net_Income", "Change_Cash_Operations", "Change_Cash_Investments", "Change_Cash_Financials", "Change_Cash_Equivalents", "Adj_Close"], axis = 1)
output = output.rename(columns = {"Year": "Date", "%Change":"y_true"})
output["y_true"] = np.where(output["y_true"] > 0.0, 1, 0)
output["y_predicted_dt"] = y_predicted_dt
output["y_predicted_rf"] = y_predicted_rf
output

In [ ]:
output.to_csv("regression.csv", index=False)